{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Dupless'Cloud</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="all" href="{% static 'style/base_style.css' %}">
    <link rel="stylesheet" media="all and (max-height: 1000px)" href="{% static 'style/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'style/blue_style.css' %}">

    <script src="{% static 'js/Theme.js' %}" type="text/javascript"></script>
    {% block html_head %}{% endblock html_head %}

</head>

<body>
    <header>
        <nav id="topnav">
            <a href="{% url 'files' path='' %}">
                <h1>Dupless'Cloud<span class="fa fa-cloud"></h1>
            </a>
            <a href="{% url 'logout' %}" class="logout">Déconnexion<span class="fa fa-power-off"></span></a>
        </nav>
    </header>

    <section id="sidenav__pagecontent">
        <aside>
            <nav id="sidenav">
                <ul id="sidenav_content">
                    <li><a href="{% url 'files' path='' %}" class="line_icon"><span class="menu_text">Fichiers</span><span class="fa fa-file side_icon"></a></li>
                    <li><a href="{% url 'fav_list' %}" class="line_icon"><span class="menu_text">Favoris</span><span class="fa fa-star side_icon"></a></li>
                    <li><a href="{% url 'recent' %}" class="line_icon"><span class="menu_text">Récents</span><span class="fa fa-history side_icon"></a></li>
                    <li><a href="{% url 'settings_main' %}" class="line_icon"><span class="menu_text">Paramètres</span><span class="fa fa-cogs side_icon"></span></a></li>
                    <li class="line_icon" id="new_folder"><span class="menu_text">Nouveau dossier</span><span class="fa fa-folder-open side_icon"></span></li>
                    {% if user.is_staff %}
                        <li><a class="line_icon" href="{% url 'admin:index' %}"><div class="menu_text">Administration</div><span class="fas fa-tools side_icon"></span></a></li>
                    {% endif %}
                    <div class="menu_text">
                      {% if space %}
                          <li id="storage_space">
                              Espace de Stockage<br />
                              {{ space.used }} /  {{ space.available }}
                          </li>
                      {% endif %}
                    </div>

                    {% if space %}
                        <li id="storage_space">
                            Espace de Stockage<br />
                            {{ space.used }} /  {{ space.available }}
                        </li>
                    {% endif %}
                    <div class="menu_text">
                      <li><div class="theme_button">
                        <label class="switch">
                            {% if theme.dark %}
                              <input type="checkbox" onclick="LoadCSS('{% static 'style/dark_style.css' %}')">
                            {% else %}
                              <input type="checkbox" onclick="LoadCSS('{% static 'style/blue_style.css' %}')">
                            {% endif %}
                              <span class="slider round"></span>
                        </label>
                      </div></li>
                    </div>

                </ul>
            </nav>
        </aside>
        <section>
            {% block content %}{% endblock content %}
        </section>
    </section>
    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Envoi du fichier...</h4>
                </div>
                <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
