{% extends "base/base.html" %}
{% load static %}
{% load dark %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "style/upload_style.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static 'dropzone-5.7.0/dist/dropzone.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="Breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'files' path='' %}"><span class="fa fa-home"></a></li>
            {% for parent in breadcrumb.path %}
            <li class="breadcrumb-item"><a href="{% url 'files' path=parent.1 %}">{{ parent.0 }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.active }}</li>
        </ol>
    </nav>
</div>

<div id="errorZone" class="alert alert-danger alert-dismissible" style="margin: 10px; display:none;">
    <a href="#" class="close" onclick="$('#errorZone').hide();">&times;</a>
</div>

<div id="dropzone-previews" class="row">
</div>
<form class="{% if '/Files/tree/' in request.path or request.path == '/Files/' %}dropzone{% endif %} my-3" method="post" action='.' id="multiFileUpload" enctype="multipart/form-data" style="border: none; padding: 0;">
    <input type="hidden" name="path" id="id_path" value="{{ current_dir }}">
    {{ form.file }}
    <ul id="fileList">
        {% for dir in directory_directories %}
        {% include "files_templates/ul_dir.html" %}
        {% endfor %}
        {% for file in directory_files %}
        {% include "files_templates/ul_file.html" %}
        {% empty %}
        {% if '/Files/tree/' not in request.path and request.path != '/Files/' %}
        <div class="text-center my-5">
            <p class="text-secondary">
                Vous n'avez déposé aucun fichier pour le moment.
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </ul>
    {% if '/Files/tree/' in request.path or request.path == '/Files/' %}
    <div class="dz-message text-center text-secondary" data-dz-message>
        <span>Déposez un fichier ou cliquez ici pour ajouter un fichier.</span>
    </div>
    {% endif %}
</form>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'dropzone-5.7.0/dist/dropzone.js' %}"></script>
<script type="text/javascript">
    // Variables initialization with django
    function unescapeHTML(unsafe) {
        return unsafe
            .replace(/&amp;/g, "&")
            .replace(/&lt;/g, "<")
            .replace(/&gt;/g, ">")
            .replace(/&quot;/g, "\"")
            .replace(/&#039;/g, "'");
    }
    let csrf_token = '{{ csrf_token }}';
    let files = '{{ files_json }}';
    if (files.length > 0) {
        files = JSON.parse(unescapeHTML(files));
    }
    current_dir = "{{ current_dir }}";
    space_available = "{{ space.available_b }}";

    $('#id_path').data('value', current_dir);
</script>
<script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/move.js' %}"></script>
<script type="text/javascript" src="{% static 'js/share.js' %}"></script>
{% endblock extra_js %}
