{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Django file storage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'style/base_style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block html_head %}{% endblock html_head %}
        <script type="text/javascript">
        let topnav_size = 60;
window.onresize = function(event) {
document.getElementById("sidenav__pagecontent").style.height = `${window.size - topnav_size}px`;
}
        </script>
    </head>
    <body>
        <header>
            <nav id="topnav">
                <h1>Nom Du Site Ou Logo</h1>
                <ul id="topnav__right">
                    <li><a href="{% url 'logout' %}" class="logout">Déconnexion</a></li>
                </ul>
            </nav>
        </header>
        <section id="sidenav__pagecontent">
            <aside>
                <nav id="sidenav">
                    <ul id="sidenav_content">
                        <li>Dossier</li>
                        <li>Favoris</li>
                        <li>Récents</li>
                        <li>Espace de Stockage</li>
                        <li><span class="glyphicon glyphicon-cog" id="icone"></span>Paramètres</li>
                        <li>
                            Actions...
                            <ul id="actions_menu">
                                <li>Nouveau dossier...</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <section>
                {% block content %}{% endblock content %}
            </section>
        </section>
    </body>
</html>
