{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Upload file</title>
        <script src="{% static "upload.js" %}"></script>
    </head>
    <body>
        <h1>Ajouter un fichier</h1>
        {% if save %}
            <p>Ce fichier a bien été enregistré !</p>
        {% endif %}

        <p>
            <form method="post" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </p>
        <div id="upload_zone" ondrop="fileUploaded(event);">
            <h2>Liste des fichiers</h2>
            <p>
                <ul>
                {% for file in content_files %}
                    <li>{{ file }}</li>
                {% endfor %}
                </ul>
            </p>
        </div>
    </body>
</html>
