body {
    text-align: center;
    width: 45%;
    margin: auto;
}

ul.errorlist.nonfield {
    padding: 5px;
}

li {
    list-style-type: none;
    margin: auto;
}

.errorlist {
    border: solid 2px #da0000;
    background-color: #ff4f4f;
}
