/* Top navigation bar */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

header {
    height: 75px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #007BFF;
}

#topnav {
    display: flex;
    background-color: #007BFF;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

#topnav a {
    text-align: center;
    font-size: 1.3em;
    text-decoration: none;
    padding-right: 15px;
    color: white;
    padding-top: 10px;
}

#topnav span {
    padding: 10px;
}

#side_icone {
    padding-left: 5%;
    font-size: 1.1em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px #c7c7c7 solid;
    position: sticky;
    top: 75px;
    width:100%;
    height: 98%;
}

#sidenav li {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #ededed solid;
    color: gray;
    transition: color 200ms;
}

#sidenav li:hover {
    color: black;
}

#sidenav ul{
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 1.2em;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    height: 100%;
}


#sidenav__pagecontent {
    display: flex;
    height: 92%;
}

#sidenav__pagecontent aside {
    width: 15%;
}

#sidenav__pagecontent section {
    width: 85%;
}

#line_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropzone__button {
    display: none;
}

#icone {
    padding-right: 20px;
    font-size: 1.4em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#icone_folder {
    padding-right: 20px;
    font-size: 2em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#actions_menu {
    display: none;
}

ul {
    list-style: none;
    text-align: center;
}
