/* Upload-specific CSS */

.dropzone__uploading,
.dropzone__success,
.dropzone__error,
.dropzone__file,
ul.errorlist,
#dropzone__input p,
.dropzone_dragndrop {
    display: none;
}

.dropzone {
    transition: all 0.5s;
}

.dropzone.has-advanced-upload .dopzone__dragndrop {
    display: inline;
}

.dropzone.is-dragover {
    background-color: rgba(35, 119, 209, 0.42);
}

/* File list style */

.file, .folder {
    border-top: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
    padding: 15px 0px 15px 0px;
    padding-left: 15px;
    text-align: left;
}

.file, .folder {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

a.name__icon {
    transition: background-color 300ms ease-in-out;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.file a:hover{
    text-decoration: none;
    /* background-color: #91b6ed; */
}

section form.has-advanced-upload {
    height: 90%;
}


/* Dropdowns menus */

#dropdown_icon {
    text-align: right;
    padding-left: 0%;
    padding-right: 2%;
    font-size: 1.1em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1.2em;
}

.btn-primary {
    color: white;
    margin-right: 5px;
}
