:root {
    --primary-color: rgb(29, 53, 64);
    --secondary-color: rgba(37, 36, 37, 0.95);
    --text-1: Gray;
    --text-2: white;
    --dragover-color: rgba(35, 119, 209, 0.42);
}

h1 {
    color: var(--text-2);
}

header {
    background-color: var(--primary-color);
    color: var(text-2);
}

#topnav {
    background-color: var(--primary-color);
    color: var(--text-2);
}

#sidenav__pagecontent aside {
    background-color: var(--primary-color);
}

#sidenav_content {
    background-color: var(--secondary-color);
}

section {
    background-color: var(--secondary-color);
}

#topnav a {
      color: var(--text-2);
}

#sidenav .line_icon {
    color: var(--text-1);
    transition: color 200ms;
}

#sidenav .line_icon:hover {
    color: var(--text-2);
}

#storage_space {
    color: var(--text-2);
}

.dropzone.is-dragover {
    background-color: var(--dragover-color)
}

.breadcrumb {
    background-color: var(--secondary-color);
    border-bottom: 1px White;
    color: var(--text-2);
}

.button {
    background-color: var(--primary-color);
    color: var(--text-2);
}

.dropdown-menu {
    background-color: var(--primary-color);
}

.dropdown-item {
    color: var(--text-2);
}

.slider {
    background-color: var(--primary-color);
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
 box-shadow: 0 0 1px var(--secondary-color);
}
