/* Upload-specific CSS */

.dropzone__uploading,
.dropzone__success,
.dropzone__error,
.dropzone__file,
#dropzone__input p,
.dropzone_dragndrop {
    display: none;
}

.dropzone {
    height: 100%;
}

.dropzone.has-advanced-upload .dopzone__dragndrop {
    display: inline;
    height: 50%;
}

/* File list style */

.file, .folder {
    border-top: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
    padding: 15px 0px 15px 0px;
    padding-left: 15px;
    text-align: left;
}

.file, .folder {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

a.name__icon {
    transition: background-color 300ms ease-in-out;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.file a:hover{
    text-decoration: none;
    /* background-color: #91b6ed; */
}

/* Dropdowns menus */

.btn-primary {
    color: white;
    margin-right: 15px;
}

.dropzone__button {
    display: none;
}

#icone {
    padding-right: 20px;
    font-size: 1.4em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#icone_folder {
    padding-right: 20px;
    font-size: 2em;
    margin-top: 1s%;
    margin-bottom: 0.1%;
}

.dz-message {
    display: none !important;
}

.dropzone.dz-drag-hover {
    background-color: aliceblue !important;
    border-radius: 5px;
}

.dz-upload {
    background: var(--primary-color);
    display: block;
    height: 20px;
    width: 0%;
    border-radius: 5px;
}

.dz-progress {
    padding: 5px;
    text-align: center;
}
