{% extends "base/base.html" %}
{% block content %}

<style media="screen">
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
</style>

<div class="container py-4">
    <h2>Changement de mot de passe</h2>
    <p>Veuillez entrer votre ancien mot de passe pour des raisons de sécurité, puis le nouveau mot de passe deux fois.</p>
    <div class="alert alert-info">
        <p class="my-0">Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</p>
        <p class="my-0">Votre mot de passe doit contenir au minimum 8 caractères.</p>
        <p class="my-0">Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</p>
        <p class="my-0">Votre mot de passe ne peut pas être entièrement numérique.</p>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row pt-3">
            <div class="col">
                <h4>{{ form.old_password.label_tag }}</h4>
                {{ form.old_password }}
            </div>
            <div class="col align-self-end">
                {% if form.old_password.errors %}
                <div class="alert alert-danger">
                    {{ form.old_password.errors }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h4>{{ form.new_password1.label_tag }}</h4>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="alert alert-danger">
                    {{ form.new_password1.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col">
                <h4>{{ form.new_password2.label_tag }}</h4>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="alert alert-danger">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
